.modal-header {
  text-align: center;
  color: #606060;
  border: none; }
  .modal-header .modal-subtitle {
    color: #000;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 0; }

.modal-body {
  padding-top: 0; }

.modal-dialog h3 {
  font-size: 23px; }
.modal-dialog .table-wrapper {
  margin: 25px 0; }
.modal-dialog table td, .modal-dialog table th {
  border: 1px solid 	#A9A9A9 !important;
  vertical-align: middle !important;
  white-space: initial !important; }
.modal-dialog table .none {
  border: none !important; }
.modal-dialog table .main {
  text-transform: uppercase;
  font-size: 23px; }
.modal-dialog table .title {
  border-left: none !important; }
.modal-dialog table .toPay {
  background-color: #e5e5e5;
  font-size: 20px; }
.modal-dialog table .black {
  background-color: #000;
  color: #fff;
  text-align: center; }
.modal-dialog table .infos td {
  max-width: 30%; }
.modal-dialog .group-product {
  margin: 20px 0;
  border-bottom: 1px solid #d0d0d0; }
.modal-dialog .checkbox {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px; }
.modal-dialog input[type=radio] {
  width: 20px;
  height: 20px;
  vertical-align: text-bottom; }
.modal-dialog input[type=radio] + input[type=radio] {
  margin-left: 20px; }
.modal-dialog .number-value {
  max-width: 106px;
  text-align: center;
  padding: 5px 10px; }
.modal-dialog label {
  max-width: 114px;
  padding: 3px;
  font-weight: 300;
  font-size: 15px; }
.modal-dialog .label-deco {
  max-width: 150px; }
.modal-dialog .label-big {
  font-size: 18px; }

.modal-header .close {
  margin-top: -9px;
  font-size: 38px;
  color: #606060;
  opacity: 1.0; }

.modal-footer {
  text-align: center; }
  .modal-footer .button-shop, .modal-footer .button-back {
    width: 240px;
    font-size: 20px;
    margin: 20px; }

.modal-step-2 input {
  width: 80%;
  padding: 9px 10px; }
.modal-step-2 .label-box {
  text-align: center; }
.modal-step-2 .modal-dialog label {
  max-width: 90%;
  margin-left: 0; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 700px; }
    .modal-dialog table .main {
      width: 40%; }
    .modal-dialog table .title {
      padding: 20px 0 20px 20px; }

  .modal-step-2 .modal-header .modal-subtitle, .modal-step-2 h3 {
    font-size: 27px;
    text-align: left; }
  .modal-step-2 input {
    padding: 9px 10px;
    margin-right: 0; }
  .modal-step-2 .label-box {
    text-align: right;
    padding: 4px 0; }
    .modal-step-2 .label-box label {
      margin-right: 0;
      font-size: 21px; }
  .modal-step-2 .input-box {
    text-align: left;
    margin-bottom: 14px; } }
@media (min-width: 992px) {
  .modal-dialog h5 {
    font-size: 24px; }

  .modal-content {
    padding-left: 20px;
    padding-right: 20px; }

  .modal-dialog {
    width: 900px; }
    .modal-dialog table {
      font-size: 16px; }
    .modal-dialog label {
      max-width: 100%;
      font-size: 17px;
      margin: 0 20px; }
    .modal-dialog .label-big {
      font-size: 24px; }
    .modal-dialog .label-deco {
      max-width: 100%; }
    .modal-dialog .checkbox {
      vertical-align: text-bottom; } }

/*# sourceMappingURL=modal.css.map */
