@media (min-width:768px){
    .button-top{
        padding-left:0;
    }
    .section-first{
         img{
            max-height: 200px;
        }
        .info-1{
            padding-top:0;
            padding-bottom: 0;
        }
       
    }
    .product{
        text-align: left;
        .desc{
                padding-bottom: 20px;
        }
    }
}
@media (min-width:992px){
   .section-first{
       text-align:right;
       .green-top{
            height:107px;
            background:transparent;
            img{
                display:block;
                height:auto;
                max-width:100%;
            }
        }
       .container{
           position:relative;
       }
       img{
           max-width:none;
       }
       h2{
           font-size:44px;
           margin-top: 0;
       }
       .subtitle, .info{
           margin-right:30px;
       }
       .details{
           position:absolute;
           top: 102px;
           left: 23px;
           width:300px;
       }
       .product-lines{
           padding-top:30px;
       }
       .proudct-box{
           text-align:center;
       }
   }
   .product{
        position:relative;
        .description-red{
            top:-64px;
        }
        .sutitle::after{
            margin: 20px 0;
        }
        .price-box{
            width:238px;
            height:236px;
            background:url('../images/price-bg.png') top center no-repeat;
            text-align:center;
            padding: 75px 0;
            padding-left: 15px;
        }
        .price{
            font-size:32px;
            font-weight:bold;
        }
        .price-netto{
            font-size:16px;
             font-weight:normal;
            display:block;
        }
    }
}
@media (min-width:1200px){
    .section-first {
        padding:50px 0;
        .arrow-red-first{
            position:absolute;
            display:inline;
            right:-32px;
            top: 47px;
            img{
                max-height:none;
            }
        }
        img{
            max-height:300px;
        }
        h2,h3{
            font-size:49px;
        }
        .info{
            max-width: 530px;
            padding: 17px 20px 17px 70px;
        }
        .product-lines{
            height:330px;
        }
        .proudct-box{
            z-index:0;
        }
        .product-1{
            top:10px;
            right:0;
        }
        .product-2{
             top: 11px;
             right: -129px;
             img{
                 width:281px;
             }
            
        }
        .product-3{
            top: 49px;
            left: 58px;
            img{
            width:255px;}
        }
        .product-4{
           top:-23px;
           right:-4px;
           img{
             width: 284px;
           }
        }
    }
    .product{
        
        .description-red{
            top:-100px;
        }
    }
    .section-product-1{
        padding-top:80px;
        text-align:right;
        .sutitle{
                padding-top: 84px;
        }
        h3{
            position:absolute;
                top: -64px;
            right:0;
            width:124%;
        }
        .price-box{
            left:200px;
            top: -109px;

        }
    }
     .section-product-2{
         padding-left: 10%;
        .price-box{
            top: -98px;
            left:70px;
        }
    }
     .section-product-3{
        .price-box{
            left: -101px;
            top: -147px;
        }
    }
     .section-product-4{
            padding-left: 10%;
        .price-box{
                top: -104px;
                left: -127px;
        }
    }
    
}