* {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  color: #000; }

h2, h3 {
  font-weight: 900;
  font-size: 43px; }

h5 {
  font-size: 21px; }

a, a:hover, a:visited, a:active {
  text-decoration: none; }

.btn-primary:hover {
  background-color: #a90509;
  background-color: #a90509; }

.blue {
  color: #0187b8; }

.red {
  color: #e5001b; }

.small {
  font-size: 16px; }

.medium-sm {
  font-size: 21px; }

.medium-lg {
  font-size: 24px; }

.button-shop {
  padding: 12px 35px;
  font-size: 25px;
  font-weight: bold;
  background-color: #db0006;
  color: #fff;
  border-color: transparent;
  border-radius: 2px;
  display: inline-block; }

.button-back {
  padding: 12px 35px;
  font-size: 25px;
  font-weight: bold;
  background-color: #b8b8b8;
  color: #fff;
  border-color: transparent;
  border-radius: 2px;
  display: inline-block; }

.button-shop:hover, .button-shop:active {
  background-color: #a90509;
  color: #fff; }

.button-top {
  font-size: 16px;
  padding: 12px 43px 12px 17px;
  display: inline-block;
  color: #000;
  background: url("../images/arrow-top.png") right center no-repeat; }

.button-top:active, .button-top:hover {
  color: #0187b8; }

.product {
  text-align: center;
  padding-top: 50px; }
  .product h3 {
    font-size: 43px; }
  .product .links {
    position: relative; }
    .product .links a {
      position: absolute;
      width: 50%;
      height: 100%;
      top: 0;
      left: 0; }
    .product .links a + a {
      top: 0;
      left: 50%; }
  .product img {
    max-width: 100%;
    display: block;
    margin: 0 auto; }
  .product .sutitle::after {
    content: "";
    display: block;
    width: 90px;
    height: 1px;
    margin: 20px auto;
    border-bottom: 1px solid #000; }
  .product .description-red {
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
    background-color: #db0006;
    color: #fff;
    border-color: transparent;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    top: -26px; }
  .product .photo {
    position: relative;
    margin-bottom: -20px;
    text-align: center; }
  .product .price-box {
    width: 133px;
    height: 133px;
    border-radius: 90px;
    background-color: #e5001b;
    margin: 0 auto;
    top: -40px;
    position: relative;
    padding: 40px 0; }
  .product .price {
    font-size: 27px;
    text-align: center;
    color: #fff; }
  .product .price-netto {
    font-size: 16px;
    display: block; }

.section-first {
  text-align: center;
  background: url("../images/section-first-1.jpg") top center no-repeat; }
  .section-first img {
    max-width: 100%; }
  .section-first .arrow-red-first {
    display: none; }
  .section-first .green-top {
    height: 70px;
    position: relative;
    z-index: 1;
    background: url("../images/green-top.png") no-repeat;
    background-size: cover; }
    .section-first .green-top img {
      display: none; }
  .section-first .info {
    color: #fff;
    padding: 20px 20px 20px 60px;
    max-width: 440px;
    border-radius: 5px;
    background: url("../images/info-bg1.png") 6px center no-repeat #0187b8;
    display: inline-block; }
  .section-first .info-1 {
    color: #606060;
    padding: 20px 20px 20px 45px;
    background: url("../images/info-bg.png") left center no-repeat; }
  .section-first .info-2 {
    font-family: 'Amatic';
    padding: 20px 20px 20px 70px;
    background: url("../images/arrow-red.png") left center no-repeat;
    display: inline-block; }
  .section-first .product-lines {
    padding-bottom: 30px; }

.section-product-1 {
  background: url("../images/section-product-1.jpg");
  background-size: cover; }

.section-product-2 {
  background: url("../images/section-product-2.jpg"); }

.section-product-3 {
  background-color: #ececec; }

.section-product-4 {
  background: url("../images/section-product-4.jpg");
  background-size: cover;
  padding-bottom: 50px; }

@media (min-width: 768px) {
  .button-top {
    padding-left: 0; }

  .section-first img {
    max-height: 200px; }
  .section-first .info-1 {
    padding-top: 0;
    padding-bottom: 0; }

  .product {
    text-align: left; }
    .product .desc {
      padding-bottom: 20px; } }
@media (min-width: 992px) {
  .section-first {
    text-align: right; }
    .section-first .green-top {
      height: 107px;
      background: transparent; }
      .section-first .green-top img {
        display: block;
        height: auto;
        max-width: 100%; }
    .section-first .container {
      position: relative; }
    .section-first img {
      max-width: none; }
    .section-first h2 {
      font-size: 44px;
      margin-top: 0; }
    .section-first .subtitle, .section-first .info {
      margin-right: 30px; }
    .section-first .details {
      position: absolute;
      top: 102px;
      left: 23px;
      width: 300px; }
    .section-first .product-lines {
      padding-top: 30px; }
    .section-first .proudct-box {
      text-align: center; }

  .product {
    position: relative; }
    .product .description-red {
      top: -64px; }
    .product .sutitle::after {
      margin: 20px 0; }
    .product .price-box {
      width: 238px;
      height: 236px;
      background: url("../images/price-bg.png") top center no-repeat;
      text-align: center;
      padding: 75px 0;
      padding-left: 15px; }
    .product .price {
      font-size: 32px;
      font-weight: bold; }
    .product .price-netto {
      font-size: 16px;
      font-weight: normal;
      display: block; } }
@media (min-width: 1200px) {
  .section-first {
    padding: 50px 0; }
    .section-first .arrow-red-first {
      position: absolute;
      display: inline;
      right: -32px;
      top: 47px; }
      .section-first .arrow-red-first img {
        max-height: none; }
    .section-first img {
      max-height: 300px; }
    .section-first h2, .section-first h3 {
      font-size: 49px; }
    .section-first .info {
      max-width: 530px;
      padding: 17px 20px 17px 70px; }
    .section-first .product-lines {
      height: 330px; }
    .section-first .proudct-box {
      z-index: 0; }
    .section-first .product-1 {
      top: 10px;
      right: 0; }
    .section-first .product-2 {
      top: 11px;
      right: -129px; }
      .section-first .product-2 img {
        width: 281px; }
    .section-first .product-3 {
      top: 49px;
      left: 58px; }
      .section-first .product-3 img {
        width: 255px; }
    .section-first .product-4 {
      top: -23px;
      right: -4px; }
      .section-first .product-4 img {
        width: 284px; }

  .product .description-red {
    top: -100px; }

  .section-product-1 {
    padding-top: 80px;
    text-align: right; }
    .section-product-1 .sutitle {
      padding-top: 84px; }
    .section-product-1 h3 {
      position: absolute;
      top: -64px;
      right: 0;
      width: 124%; }
    .section-product-1 .price-box {
      left: 200px;
      top: -109px; }

  .section-product-2 {
    padding-left: 10%; }
    .section-product-2 .price-box {
      top: -98px;
      left: 70px; }

  .section-product-3 .price-box {
    left: -101px;
    top: -147px; }

  .section-product-4 {
    padding-left: 10%; }
    .section-product-4 .price-box {
      top: -104px;
      left: -127px; } }
/* This stylesheet generated by Transfonter (http://transfonter.org) on October 20, 2016 10:44 AM */
@font-face {
  font-family: 'Amatic';
  src: url("../font/Amatic-Bold.eot");
  src: url("../font/Amatic-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Amatic-Bold.woff") format("woff"), url("../font/Amatic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

/*# sourceMappingURL=lynka.css.map */
